@import "uikit/variables-theme";
@import "uikit/mixins-theme";

.main-navbar {
  background: lighten($global-primary-background, 5%) !important;
}

.banner {
  min-height: 720px;

}

.caption-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main{
  min-height: 80vh;
}
@import "uikit/uikit-theme";