@import "uikit/variables-theme";
@import "uikit/mixins-theme";

.main-navbar {
  background: lighten($global-primary-background, 5%) !important;
}

.banner {
  min-height: 720px;

}
#editor {
  position: relative;
}
#editor-content {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  opacity: 0;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.caption-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main{
  min-height: 80vh;
}
@import "uikit/uikit-theme";